.todo{
    /* width: 100%; */
    /* border: 2px solid; */
    height: 70px;
}
.todo .input{
    display: flex;
    justify-content: center;
    align-items: center !important;
    border: 2px solid;
    height: 100%;
    width: 100%;
}
.todo .input .getInputs {
    display: flex;
    width: 50%;
    /* border: 2px solid; */
    gap: 20px 0px;
    height: 40px;
}
.todo .input .getInputs input{
    outline: none;
    border: 0.0975rem solid lightgrey;
    box-shadow: none;
}
.todo .input .getInputs input:hover{
    outline: none;
    /* border: none; */
    box-shadow: none;
}
.todo .input button{
    display: flex;
    justify-content: center;
    gap: 0px 10px;
    align-items: center !important;
    /* border: 2px solid black; */
    /* width: 150px; */
}
.todo .input button p{
    position: relative;
    top: 10px;
}
.todo .input .addTodo{
    width: 200px;
    margin-left: 10px;
    background-color: #007bff;
    color: white;
    font-weight: 600;

    /* gap: 20px; */
}
.todo .input .addTodo:hover{
    opacity: 0.9;
}
.todo .input .deleteTodo{
    width: 200px;
    margin-left: 10px;
    background-color: red;
    color: white;
    font-weight: 600;
    /* gap: 20px; */
}
.todo .input .deleteTodo:hover{
    opacity: 0.9;

}
.show{
    height: 70vh;
    position: relative;
    top: 20px;
    overflow: auto;
    border: 2px solid;
    background-color: aqua;
}
.show .showTodos{
    margin: auto;
    width: 40%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    gap: 20px !important;
    background-color: white;
    /* background-color: rgb(246, 238, 238); */
    padding: 0 15px;
    border-radius: 20px;
}
.show .showTodos .buttns button{
    gap: 20px !important;
}
.show .showTodos .buttns #edit{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    font-size: 18px;
    color: lightgreen;
    margin-right: 10px;
    background-color: white;
}
.show .showTodos .buttns #edit:hover{
    /* background-color: rgba(157, 221, 62, 0.736); */
    background-color: rgb(148, 213, 52);
    border:2px solid lightgrey;
    opacity: 0.5;
}
.show .showTodos .buttns #delete{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    font-size: 18px;
    color: red;
    background-color: white;

    /* margin-right: 10px; */
}
.show .showTodos .buttns #delete:hover{
    background-color: rgb(237, 169, 169);
    opacity: 0.5;
    color: red;
}
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 200px;
    gap: 10px;
  }
  .loader-container p{
    font-weight: 700px !important;

  }
/*  style={{marginRight:10, border:'none',width:40, height:40, borderRadius:50, fontSize:18,color: 'lightgreen' }} */

/* ====================================================== */

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .popup-content {
    padding: 40px;
    width: 30%;
    height: 40%;
    background: white;
    /* padding: 20px; */
    border-radius: 20px;
    text-align: center;
    /* border: 2px solid; */

  }
  
  .popup button {
    margin-top: 25px;
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;
    gap: 10px 0px;

  }
  .popup .bttn{
    gap: 10px 0px;
  }

  @media (min-width:0px) and (max-width:480px) {
    .todo .input .getInputs {
        position: relative;
        /* right: 100px; */
        width: 100%;
        padding: 0px 10px;
    }
    .todo .input .getInputs input{
        width: 200px;
    }
    .todo .input button p{
        display: none;
    }
    .show{
        padding: 0px 20px;
    }
    .show .showTodos{
        width: 100%;
    }
    .popup .popup-content{
        width: 70%;
        height: 350px;
        padding: 20px;
    }
    .popup .popup-content h2{
        padding: 0px;
    }
    .popup .popup-content .input{
        position: relative;
        bottom: 100px;
    }
    .popup button {
        margin-top: 0px;
    }
  }