body{
    /* background-color: rgb(116, 202, 202); */
    background-color: rgb(84, 162, 162);

}
.todo{
    /* width: 100%; */
    /* border: 2px solid; */
    height: 70px;
}
.todo .input{
    display: flex;
    justify-content: center;
    align-items: center !important;
    /* border: 2px solid; */
    height: 100%;
    width: 100%;
}
.todo .input .getInputs {
    display: flex;
    width: 50%;
    /* border: 2px solid; */
    gap: 20px 0px;
    height: 40px;
}
.todo .input .getInputs input{
    outline: none;
    border: 0.0975rem solid lightgrey;
    box-shadow: none;
}
.todo .input .getInputs input:hover{
    outline: none;
    /* border: none; */
    box-shadow: none;
}
.todo .input button{
    display: flex;
    justify-content: center;
    gap: 0px 10px;
    align-items: center !important;
    /* border: 2px solid black; */
    /* width: 150px; */
}
.todo .input button p{
    position: relative;
    top: 10px;
}
.todo .input .addTodo{
    width: 200px;
    margin-left: 10px;
    /* background-color: #007bff; */
    background-color: rgb(116, 202, 202);

    /* background-color: rgb(84, 162, 162); */

    color: white;
    font-weight: 600;

    /* gap: 20px; */
}
.todo .input .addTodo:hover{
    opacity: 0.9;
}
.todo .input .deleteTodo{
    width: 200px;
    margin-left: 10px;
    background-color: red;
    color: white;
    font-weight: 600;
    /* gap: 20px; */
}
.todo .input .deleteTodo:hover{
    opacity: 0.9;

}
.show{
    height: 70vh;
    position: relative;
    top: 20px;
    overflow: auto;
    /* border: 2px solid; */
    /* background-color: rgb(84, 162, 162); */
    /* background-color: rgb(56, 130, 130); */
    background-color: rgb(53, 109, 109);
    /* background-color: rgb(121, 187, 187); */
    /* background-color: rgb(116, 202, 202); */
    /* box-shadow: 0px 0px 10px; */
}
.show .showTodos{
    margin: auto;
    width: 40%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    gap: 20px !important;
    background-color: rgb(121, 187, 187);
    padding: 0 15px;
    border-radius: 20px;
}
.show .showTodos p{
    font-size: 17px;
    font-weight: 600;
    color: white;
}
.show .showTodos .buttns button{
    gap: 20px !important;
}
.show .showTodos .buttns #edit{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    font-size: 18px;
    color: rgb(53, 109, 109);
    margin-right: 10px;
    background-color: transparent;
}
.show .showTodos .buttns #edit:hover{
    background-color: rgb(84, 162, 162);
    opacity: 0.5;
}
.show .showTodos .buttns #delete{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    font-size: 18px;
    color: red;
    background-color: transparent;

    /* margin-right: 10px; */
}
.show .showTodos .buttns #delete:hover{
    background-color: rgb(237, 169, 169);
    opacity: 0.5;
    color: red;
}
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 200px;
    gap: 10px;
  }
  .loader-container p{
    font-weight: 700px !important;

  }
/*  style={{marginRight:10, border:'none',width:40, height:40, borderRadius:50, fontSize:18,color: 'lightgreen' }} */

/* ====================================================== */

.hiddenPopup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5);

}
.hiddenPopup .mainHiddenPopup{
    width: 30%;
    height: 40%;
    background: white;
    border-radius: 18px;
    padding: 30px 30px;
}
.hiddenPopup .mainHiddenPopup .buttons{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    gap: 0px 20px;
}
.hiddenPopup .mainHiddenPopup .buttons button{
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;
}



  @media (min-width:0px) and (max-width:480px) {
    .todo .input .getInputs {
        position: relative;
        /* right: 100px; */
        width: 100%;
        padding: 0px 10px;
    }
    .todo .input .getInputs input{
        width: 100%;
    }
    .todo .input button p{
        display: none;
    }
    .todo .input .getInputs button{
        width: 40px;
    }
    .show{
        padding: 0px 20px;
    }
    .show .showTodos{
        width: 100%;
    }
    .hiddenPopup .mainHiddenPopup{
        width: 80%;
    }
    
  }
  @media (min-width:481px) and (max-width:780px) {
    .todo .input .getInputs{
        width: 70%;
    }
    .todo .input .getInputs input{
        width: 100%;
    }
    .show .showTodos{
        width: 60%;
    }
    .hiddenPopup .mainHiddenPopup{
        width: 80%;
    }
    
    
  }
  @media (min-width:481px) and (max-width:1400px) {
    .todo .input button i{
        font-size: 14px;
    }
    .todo .input button p{
        font-size: 14px;
    }
    
    
  }
  @media (min-width:780px) and (max-width:1400px) {
    .show .showTodos{
        width: 60%;
    }
    
  }
  @media (min-width:781px) and (max-width:1400px) {
    .hiddenPopup .mainHiddenPopup{
        width: 40%;
    }
  }